{% extends 'base.html.twig' %}

{% block title %}BlaBlaChamb - Profile{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
<div id="information">
    <div id="user">
        <p class="title">My information</p>
        <div class="form-section">
            <p>Created at: {{app.user.created|date('Y-m-d')}}</p>
            {{form_start(user)}}
            
            <div class="form">
                {{form_label(user.email)}}
                {{form_errors(user.email)}}
                {{form_widget(user.email)}}
                {{form_help(user.email)}}
            </div>
            
            <div class="form">
                {{form_label(user.password)}}
                {{form_errors(user.password)}}
                {{form_widget(user.password)}}
                <a href="{{ path('app_change_password') }}">Change password</a>
                {{form_help(user.password)}}
            </div>
            
            <div class="form">
                {{form_label(user.first_name)}}
                {{form_errors(user.first_name)}}
                {{form_widget(user.first_name)}}
                {{form_help(user.first_name)}}
            </div>
            
            <div class="form">
                {{form_label(user.last_name)}}
                {{form_errors(user.last_name)}}
                {{form_widget(user.last_name)}}
                {{form_help(user.last_name)}}
            </div>
            
            <div class="form">
                {{form_label(user.phone)}}
                {{form_errors(user.phone)}}
                {{form_widget(user.phone)}}
                {{form_help(user.phone)}}
            </div>
            
            {{form_end(user)}}
            
        </div>
    </div>
    <div id="car">
        <p class="title">Car information</p>
        <div class="form-section">
        {% if car is not null %}
        <p>Created at: {{car.created|date('Y-m-d')}}</p>
        {{form_start(form_car)}}
        <div class="form">
            {{form_label(form_car.brand)}}
            {{form_errors(form_car.brand)}}
            {{form_widget(form_car.brand)}}
            {{form_help(form_car.brand)}}
        </div>
        <div class="form">
            {{form_label(form_car.model)}}
            {{form_errors(form_car.model)}}
            {{form_widget(form_car.model)}}
            {{form_help(form_car.model)}}
        </div>
        <div class="form">
            {{form_label(form_car.seats)}}
            {{form_errors(form_car.seats)}}
            {{form_widget(form_car.seats)}}
            {{form_help(form_car.seats)}}
        </div>
        {{form_end(form_car)}}
        {% else %}
        <p>You don't have a car</p>
        {% endif %}
        
            
            
        </div>
    </div>
    <div id="rules">
        <p class="title">My rules</p>
        <div class="form-section">
            {% for rule in rules %}
                <div class="rule">
                    <i>ID: {{ loop.index }}</i> <a href="{{ path('app_delete_rule_id', {'id': rule.id}) }}">Delete rule</a> <a href="{{ path('app_edit_rule_id', {'id': rule.id}) }}">Edit rule</a>
                    <p>Name: {{ rule.name }}</p>
                    <p>Description: {{ rule.description }}</p>
                </div>
            {% endfor %}
            <a href="{{ path('app_add_rule') }}">Add rule</a>
            
            
        </div>
    </div>
    <div id="rides">
        <p class="title">Rides</p>
        <div class="form-section">
            {% for ride in rides %}
                <div class="ride">
                    <i>ID: {{loop.index }}</i> <a href="{{ path('app_delete_ride_id', {'id': ride.id }) }}">Delete ride</a> <a href="{{ path('app_edit_ride_id', {'id': ride.id}) }}">Edit ride</a>
                    <p>From: {{ ride.departure }}</p>
                    <p>To: {{ ride.destination }}</p>
                    <p>Seats: {{ ride.seats }}</p>
                    <p>Date: {{ ride.date|date("m/d/Y") }}</p>
                    <p>Price: {{ ride.price }} €</p>
                </div>
            {% endfor %}
            {% if car is null %}
                <p>You need to have a car to be able to create a ride</p>
            {% else %}
                <a href="{{ path('app_add_ride') }}">Add ride</a>
            {% endif %}
            
        </div>
    </div>

    <div id="reservations">
        <p class="title">Reservations</p>
        <div class="form-section">
            {% for res in reservations %}
                {% if res.passenger != app.user %}
                    {# It's a reservation FROM someone else TO the current user ride #}
                    <div class="res-ride">
                        <ul>
                            <li>From: {{ res.ride.departure }}</li>
                            <li>To: {{ res.ride.destination }}</li>
                        </ul>
                        <p>Client: <i>{{ res.passenger.firstName }} {{ res.passenger.lastName }}</i></p>
                        <p>Seats: {{ res.ride.seats }}</p>
                        {% if res.confirmed %}
                            <p>It's confirmed</p>
                        {% else %}
                            <a href="{{ path('app_confirm_reservation_id', {'id': res.id}) }}">Confirm reservation</a>
                        {% endif %}
                        
                    </div>
                {% else %}
                    {# It's a reservation FROM the current user TO someone else ride #}
                    <div class="reservation">
                        {% set driver = res.ride.driver %}
                        <p class="name">{{ driver.firstName }} {{ driver.lastName }}</p>
                        <ul>
                            <li>From: {{ res.ride.departure }}</li>
                            <li>To: {{ res.ride.destination }}</li>
                        </ul>
                        <p>Seats: {{ res.ride.seats }}</p>
                        {% if res.confirmed %}
                            <p>Reservation is confirmed !</p>
                        {% else %}
                            <p>The reservation is not confirmed yet :(</p>
                            
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
